.side-bar {
  width: 18rem;
  border-radius: 20px;
  background-color: var(--lightest-bg-color);
  height: calc(100vh - 4rem);
}

.side-option {
  padding: 0.8rem;
  margin: 0 1rem;
  border-radius: 20px;
}

.side-option.active {
  background-color: var(--background-color);
}

.side-option:hover {
  background-color: var(--light-bg-color);
}
